
.unselected{
  display:none;
}

.tabclass{
  min-height:50px;
  min-width:50px;
}

.board{
  width:100%;
  height:500px;
}

.board td{
  min-width: 200px;
  min-height: 200px;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

